body{
	background-color: #DCEEF1
}
h1{
	font-size: 60px;
	color: #90A8AC
}
h2{
	font-size: 50px;
	color: #90A8AC
}

.big{
	font-size: 65px
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: #90A8AC
}
h1  span{
	color: #90A8AC;
}